<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Viage Mais</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
<div class="container">
    <h1>Viage Mais - Seu sonho começa aqui</h1>
    <form action="/contratacao/selecionar" method="post">
        <div th:each="destino : ${destinos}" class="destino">
            <label>
                <input type="checkbox" name="destinosSelecionados" th:value="${destino.id}">
                <strong th:text="${destino.local}"></strong> - R$<span th:text="${destino.preco}"></span>
            </label>
            <p><strong>Categoria:</strong> <span th:text="${destino.categoria}"></span></p>
            <img th:src="${destino.imagemUrl}" alt="Imagem do destino">
        </div>
        <button type="submit" class="confirmar">Contratar selecionados</button>
    </form>
</div>
</body>
</html>
